<?xml version="1.0" encoding="UTF-8"?>
<!-- Source project: sip01, branch: 04 (Maven Project) -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.1.xsd">


	<context:property-placeholder location="classpath:/environment.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close" p:driverClassName="${dataSource.driverClassName}"
		p:url="${dataSource.url}" p:username="${dataSource.username}"
		p:password="${dataSource.password}" />
	<util:properties id="hibernateProperties">
		<prop key="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</prop>
		<prop key="hibernate.show_sql">false</prop>
	</util:properties>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		p:dataSource-ref="dataSource" p:packagesToScan="java.com.onlinestore.model"
		p:hibernateProperties-ref="hibernateProperties"
		p:annotatedClasses-ref="nameClass" />
	<util:list id="nameClass">
		<value>com.onlinestore.model.Category</value>
		<value>com.onlinestore.model.Product</value>
		<value>com.onlinestore.model.Price</value>
		<value>com.onlinestore.model.Producer</value>
		<value>com.onlinestore.model.Promotion</value>
		<value>com.onlinestore.model.OsOrder</value>
		<value>com.onlinestore.model.OsOrderDetail</value>
		<value>com.onlinestore.model.OsUser</value>
		<value>com.onlinestore.model.Status</value>
		<value>com.onlinestore.model.Tax</value>
		<value>com.onlinestore.model.TransportFee</value>
		<value>com.onlinestore.model.UserGroup</value>
		<value>com.onlinestore.model.CategoryProduct</value>
		<value>com.onlinestore.model.Cart</value>
		<value>com.onlinestore.model.CartProduct</value>
		<value>com.onlinestore.model.Config</value>
		<value>com.onlinestore.model.Gallery</value>
		<value>com.onlinestore.model.Image</value>
		<value>com.onlinestore.model.DatasFieldsProduct</value>
		<value>com.onlinestore.model.FieldsProduct</value>
	</util:list>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />

	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer"
		p:definitions="/WEB-INF/tiles.xml" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver"
		p:viewClass="org.springframework.web.servlet.view.tiles2.TilesView" />
	<bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
 
         <!-- setting maximum upload size -->
        <property name="maxUploadSize" value="500000" />
 
    </bean>
    
     
      
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="alwaysUseFullPath" value="true" />

		<property name="mappings">
			<props>
				<prop key="homes.html">homeController</prop>
				<prop key="/register.html">osUserController</prop>
				<prop key="/login.html">osUserController</prop>
				<prop key="/logout.html">osUserController</prop>
				<prop key="/admin.html">homeController</prop>
				<prop key="/searchProduct.html">homeController</prop>
				<prop key="/category.html*">categoryController</prop>
				<prop key="/addSubCategory.html">categoryController</prop>
				<prop key="/deleteCategory.html">categoryController</prop>
				<prop key="/loadProductOfCategory.html">categoryController</prop>
				<prop key="/productDetail.html">productController</prop>
				<prop key="adminDetailProduct.html">productController</prop>
				<prop key="addImageToGallery.html">productController</prop>
				<prop key="uploadImage.html">productController</prop>
				<prop key="deleteProduct.html">productController</prop>
				<prop key="configFieldOfProduct.html*">productController</prop>
				<prop key="loadFieldsOfProduct.html*">productController</prop>
				<prop key="saveEditConfigProduct.html*">productController</prop>
				<prop key="saveEditProduct.html">productController</prop>
				<prop key="addProduct.html">productController</prop>
				<prop key="saveAddProduct.html">productController</prop>
				<prop key="importProduct.html">productController</prop>
				<prop key="importProductLoadCategory.html">productController</prop>
				<prop key="/viewCart.html">cartController</prop>
				<prop key="/addToCart.html">cartController</prop>
				<prop key="/removeProductFromCart.html">cartController</prop>
				<prop key="/viewOrderList.html">osOrderController</prop>
				<prop key="/viewOrderDetail.html">osOrderDetailController</prop>
				<prop key="/homeProductOfCategory.html">categoryController</prop>
				<prop key="/loadHomeProductOfCategory.html">categoryController</prop>
				<prop key="/addNewConfig.html">categoryController</prop>
				<prop key="/deleteField.html">categoryController</prop>
				<prop key="/saveConfig.html">categoryController</prop>
				<prop key="/viewPromotionList.html">promotionController</prop>
				<prop key="adminDetailPromotion.html">promotionController</prop>
				<prop key="adminEditPromotion.html">promotionController</prop>
				<prop key="adminDeletePromotion.html">promotionController</prop>
				<prop key="adminAddPromotion.html">promotionController</prop>
				<prop key="/viewConfigInfo.html">configController</prop>
				<prop key="adminDetailConfigInfo.html">configController</prop>
				<prop key="adminEditConfigInfo.html">configController</prop>
				<prop key="getTermsAndConditions.html">cartController</prop>
				<prop key="deleteCartProductFromCart.html">cartController</prop>
				<prop key="createOrderFromCart.html">osOrderController</prop>
				<prop key="orderDetail.html">osOrderController</prop>
				<prop key="editOrder.html">osOrderController</prop>
				<prop key="deleteOrder.html">osOrderController</prop>
				<prop key="confirmOrder.html">osOrderController</prop>
				<prop key="comfirmOrderFromEmail.html*">osOrderController</prop>
				
				<prop key="deleteOrderDetailItem.html">osOrderDetailController</prop>
				<prop key="/userDetail.html">osUserController</prop>
				<prop key="userDetailForEdit.html">osUserController</prop>
				<prop key="editUserInfo.html">osUserController</prop>
				<prop key="changeUserPassword.html">osUserController</prop>
				<prop key="newProducts.html">homeController</prop>
				<prop key="hotProducts.html">homeController</prop>
				<prop key="waitingProducts.html">homeController</prop>
				<prop key="promotionProducts.html">homeController</prop>
				<prop key="createOrderFromProduct.html">osOrderController</prop>
				<prop key="viewReportDashboard.html">reportController</prop>
			</props>
		</property>
	</bean>
	<!-- Define the controllers -->
	<bean id="categoryController" class="com.onlinestore.controller.CategoryController" />
	<bean id="osUserController" class="com.onlinestore.controller.OsUserController" />
	<bean id="homeController" class="com.onlinestore.controller.HomeController" />
	<bean id="productController" class="com.onlinestore.controller.ProductController" />
	<bean id="cartController" class="com.onlinestore.controller.CartController" />
	<bean id="osOrderController" class="com.onlinestore.controller.OsOrderController" />
	<bean id="osOrderDetailController" class="com.onlinestore.controller.OsOrderDetailController" />
	<bean id="promotionController" class="com.onlinestore.controller.PromotionController" />
	<bean id="configController" class="com.onlinestore.controller.ConfigController" />
	<bean id="reportController" class="com.onlinestore.controller.ReportController" />
	<context:annotation-config />
	<tx:annotation-driven proxy-target-class="true" />
	<context:component-scan base-package="com.onlinestore.dao" />
	<context:component-scan base-package="com.onlinestore.dao.impl" />
	<context:component-scan base-package="com.onlinestore.service.impl" />
	
	<context:component-scan base-package="com.onlinestore.controller" />
	
</beans>