<?xml version="1.0" encoding="UTF-8"?>
<!-- Source project: sip01, branch: 04 (Maven Project) -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.1.xsd">


	<context:property-placeholder location="classpath:/environment.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close" p:driverClassName="${dataSource.driverClassName}"
		p:url="${dataSource.url}" p:username="${dataSource.username}"
		p:password="${dataSource.password}" />
	<util:properties id="hibernateProperties">
		<prop key="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</prop>
		<prop key="hibernate.show_sql">false</prop>
	</util:properties>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		p:dataSource-ref="dataSource" p:packagesToScan="java.com.onlinestore.model"
		p:hibernateProperties-ref="hibernateProperties"
		p:annotatedClasses-ref="nameClass" />
	<util:list id="nameClass">
		<value>com.onlinestore.model.Category</value>
		<value>com.onlinestore.model.Product</value>
		<value>com.onlinestore.model.Price</value>
		<value>com.onlinestore.model.Producer</value>
		<value>com.onlinestore.model.Promotion</value>
		<value>com.onlinestore.model.OsOrder</value>
		<value>com.onlinestore.model.OsOrderDetail</value>
		<value>com.onlinestore.model.OsUser</value>
		<value>com.onlinestore.model.Status</value>
		<value>com.onlinestore.model.Tax</value>
		<value>com.onlinestore.model.TransportFee</value>
		<value>com.onlinestore.model.UserGroup</value>
		<value>com.onlinestore.model.CategoryProduct</value>
		<value>com.onlinestore.model.Cart</value>
		<value>com.onlinestore.model.CartProduct</value>
		<value>com.onlinestore.model.Config</value>
		<value>com.onlinestore.model.Gallery</value>
		<value>com.onlinestore.model.Image</value>
	</util:list>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />

	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer"
		p:definitions="/WEB-INF/tiles.xml" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver"
		p:viewClass="org.springframework.web.servlet.view.tiles2.TilesView" />

	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="alwaysUseFullPath" value="true" />

		<property name="mappings">
			<props>
				<prop key="/homes.html">homeController</prop>
				<prop key="/register.html">osUserController</prop>
				<prop key="/login.html">osUserController</prop>
				<prop key="/logout.html">osUserController</prop>
				<prop key="/admin.html">homeController</prop>
				<prop key="/category.html*">categoryController</prop>
				<prop key="/addSubCategory.html">categoryController</prop>
				<prop key="/deleteCategory.html">categoryController</prop>
				<prop key="/loadProductOfCategory.html">categoryController</prop>
				<prop key="/productDetail.html">productController</prop>
				<prop key="/viewCart.html">cartController</prop>
				<prop key="/addToCart.html">cartController</prop>
			</props>
		</property>
	</bean>
	<!-- Define the controllers -->
	<bean id="categoryController" class="com.onlinestore.controller.CategoryController" />
	<bean id="osUserController" class="com.onlinestore.controller.OsUserController" />
	<bean id="homeController" class="com.onlinestore.controller.HomeController" />
	<bean id="productController" class="com.onlinestore.controller.ProductController" />
	<bean id="cartController" class="com.onlinestore.controller.CartController" />
	<context:annotation-config />
	<tx:annotation-driven proxy-target-class="true" />
	<context:component-scan base-package="com.onlinestore.dao" />
	<context:component-scan base-package="com.onlinestore.dao.impl" />
	<context:component-scan base-package="com.onlinestore.service.impl" />

	<context:component-scan base-package="com.onlinestore.controller" />
</beans>